<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head :: myHead('instagram::info') }"></head>
  <body>
    <header th:replace="~{fragments/header}"></header>
    <main class="container">
      <h2 class="my-5">STORY</h2>

      <div class="story-detail mt-5">
        <div class="header">
          <img
            src=""
            alt=""
            th:src="@{|${imageInfo.member.profileImage}|}"
            id="profile"
          />
          <span th:text="${imageInfo.member.userName}" class="user-name"
            >이름이 들어갑니다.</span
          >
        </div>
        <div class="img-box">
          <img src="" alt="" th:src="@{|${imageInfo.imgUrl}|}" />
        </div>
        <div class="caption-box">
          <h3 th:text="${imageInfo.caption}">제목이 들어갑니다.</h3>
        </div>
        <div class="comment-list mt-5 p-3">댓글나오는 영역</div>
        <div class="mt-5 p-3">
          <label for="comment" class="form-label">댓글</label>
          <textarea class="form-control" id="comment" rows="3"></textarea>
          <div class="mt-3">
            <button class="btn btn-primary" id="btn-comment">댓글달기</button>
          </div>
        </div>
      </div>
    </main>
    <script th:inline="javascript">
      const btnComment = document.querySelector("#btn-comment");
      const comment = document.querySelector("#comment");
      const imageId = /*[[${imageInfo.id}]]*/ 0;
      btnComment.addEventListener("click", (e) => {
        const sendData = {
          content: comment.value,
          imageId: Number(imageId),
        };
        console.log(sendData);
        fetch("/api/comment", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(sendData),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
          });
      });
    </script>
  </body>
</html>
