<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head :: myHead('instagram::info') }"></head>
  <body>
    <header th:replace="~{fragments/header}"></header>
    <main class="container">
      <h2 class="my-5">INFO</h2>
      <div class="info-header">
        <div id="profile-img">
          <img
            th:if="${memberInfo.loggedMember.profileImage != null}"
            src="/images/user.png"
            th:src="@{${memberInfo.loggedMember.profileImage}}"
            alt=""
            id="profile"
          />

          <img
            th:if="${memberInfo.loggedMember.profileImage == null}"
            src="/images/user.png"
            th:src="@{/images/common/user.png}"
            alt=""
            id="profile"
          />
        </div>
        <div class="btns">
          <a href="" th:href="@{/member/modify}" class="btn btn-primary"
            >SETTING</a
          >
          <a href="" th:href="@{/image/upload}" class="btn btn-primary"
            >STORY</a
          >
        </div>
        <form
          method="post"
          action=""
          enctype="multipart/form-data"
          style="display: none"
          id="profile-form"
        >
          <input type="file" name="profileImage" id="profile-input" />
        </form>
      </div>
    </main>
    <script th:inline="javascript">
      const loggedId = /*[[${memberInfo.loggedMember.userId}]]*/ "jjang051";
      const profileImg = document.querySelector("#profile-img");
      const profileInput = document.querySelector("#profile-input");
      profileImg.addEventListener("click", () => {
        //trigger
        profileInput.click();
      });
      profileInput.addEventListener("change", (e) => {
        //console.log(e);
        //console.log(e.target.files);
        const file = e.target.files[0];
        if (!file.type.match("image.*")) {
          alert("이미지 파일만 가능합니다.");
          return false;
        }
        const profileForm = document.querySelector("#profile-form");
        const formData = new FormData(profileForm);
        formData.append("profileImage", profileInput.files[0]);
        console.log(formData);
        fetch("/api/member/" + loggedId + "/profile", {
          method: "put",
          headers: {},
          body: formData,
        })
          .then((response) => response.json())
          .then((json) => {
            const profile = document.querySelector("#profile");
            profile.setAttribute("src", json.memberInfo.profileImage);
          });
      });
    </script>
  </body>
</html>
