<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head :: myHead('instagram::join') }"></head>
  <body>
    <header th:replace="~{fragments/header}"></header>
    <main class="container">
      <h2 class="my-5">SIGN UP</h2>
      <form
        action="/member/join"
        thth:action="@{/member/join}"
        method="post"
        th:object="${joinDto}"
      >
        <div>
          <div class="mb-3">
            <label for="user-id" class="form-label fw-bold">USER ID</label>
            <input
              type="text"
              class="form-control"
              id="user-id"
              placeholder="user id"
              name="userId"
            />
            <p class="error" th:errors="*{userId}">
              여기에 오류메세지 적어주세요.
            </p>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label fw-bold">PASSWORD</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
              name="password"
            />
            <p class="error" th:errors="*{password}">
              여기에 오류메세지 적어주세요.
            </p>
          </div>
          <div class="mb-3">
            <label for="user-email" class="form-label fw-bold">EMAIL</label>
            <input
              type="text"
              class="form-control"
              id="user-email"
              placeholder="email"
              name="userEmail"
            />
            <p class="error" th:errors="*{userEmail}">
              여기에 오류메세지 적어주세요.
            </p>
          </div>
          <div class="mb-3">
            <label for="user-name" class="form-label fw-bold">NAME</label>
            <input
              type="text"
              class="form-control"
              id="user-name"
              placeholder="name"
              name="userName"
            />
            <p class="error" th:errors="*{userName}">
              여기에 오류메세지 적어주세요.
            </p>
          </div>
          <div><button class="btn btn-primary">SIGN UP</button></div>
        </div>
        <div>
          <img src="/images/member/singup-image.jpg" alt="" />
        </div>
      </form>
    </main>
  </body>
</html>
