<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head :: myHead('instagram::join') }"></head>
  <body>
    <header th:replace="~{fragments/header}"></header>
    <main class="container">
      <h2>SIGN UP</h2>
      <form action="">
        <div>
          <div class="mb-3">
            <label for="user-id" class="form-label">USER ID</label>
            <input
              type="text"
              class="form-control"
              id="user-id"
              placeholder="user id"
              name="userId"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">PASSWORD</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
              name="password"
            />
          </div>
          <div class="mb-3">
            <label for="user-email" class="form-label">EMAIL</label>
            <input
              type="text"
              class="form-control"
              id="user-email"
              placeholder="email"
              name="userEmail"
            />
          </div>
          <div class="mb-3">
            <label for="user-name" class="form-label">NAME</label>
            <input
              type="text"
              class="form-control"
              id="user-name"
              placeholder="name"
              name="userName"
            />
          </div>
          <div><button class="btn btn-primary">SIGN UP</button></div>
        </div>
        <div>
          <img src="/images/member/singup-image.jpg" alt="" />
        </div>
      </form>
    </main>
  </body>
</html>
