<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head :: myHead('instagram::login') }"></head>
  <body>
    <header th:replace="~{fragments/header}"></header>
    <main class="container">
      <h2 class="my-5">LOGIN</h2>
      <form
        action="/member/login"
        th:action="@{/member/login}"
        th:object="${loginDto}"
        method="post"
      >
        <div>
          <div class="mb-3">
            <label for="user-id" class="form-label fw-bold">USER ID</label>
            <input
              type="text"
              class="form-control"
              id="user-id"
              placeholder="user id"
              name="userId"
            />
            <p th:errors="*{userId}">회원가입 필드 에러</p>
          </div>
          <p></p>
          <div class="mb-3">
            <label for="password" class="form-label fw-bold">PASSWORD</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
              name="password"
            />
            <p th:errors="*{password}">회원가입 필드 에러</p>
          </div>

          <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">
              인증 예외 메시지
            </p>
          </div>
          <div><button class="btn btn-primary">LOGIN</button></div>
        </div>
        <div>
          <img src="/images/member/singup-image.jpg" alt="" />
        </div>
      </form>
    </main>
  </body>
</html>
