<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
  <header>
    <div
      class="container d-flex justify-content-between align-items-center py-3"
    >
      <h1>
        <a href=""><img src="/images/common/logo.svg" alt="" /></a>
      </h1>

      <div class="d-flex gap-1" sec:authorize="isAnonymous()">
        <a href="" class="btn btn-outline-primary">POPULAR</a>
        <a
          href="/member/join"
          th:href="@{/member/join}"
          class="btn btn-outline-primary"
          >JOIN</a
        >
        <a
          href="/member/login"
          th:href="@{/member/login}"
          class="btn btn-outline-primary"
          >LOGIN</a
        >
      </div>
      <div class="d-flex gap-1" sec:authorize="isAuthenticated()">
        <a href="/image/story" class="btn btn-outline-primary">STORY</a>
        <a href="/image/popular" class="btn btn-outline-primary">POPULAR</a>
        <a
          href="/member/info"
          th:href="@{/member/info/{id}(id=${#authentication.principal.loggedMember.id})}"
          class="btn btn-outline-primary"
          th:text="${#authentication.principal.loggedMember.userName}"
          >장성호</a
        >
        <a href="" th:href="@{/member/logout}" class="btn btn-outline-primary"
          >LOGOUT</a
        >
      </div>
    </div>
  </header>
</html>
