.error {
  font-size: 14px;
  margin-top: 10px;
  color: #f00;
  font-weight: bold;
}

h1 img {
  height: 50px;
}

#profile {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
  border-radius: 80px;
  overflow: hidden;
}